.ems-attendance{
    background-color: #d9534f;
    color: #fff;
}
.ems-attendance-tbody td {
    white-space: normal !important;
    word-break: break-word;
    overflow-wrap: break-word;
}
.ems-flex {
	display: flex; 
    align-items: center; 
    gap: 10px;
}
